
#edit--lingwo-fields-add-new-form legend {
    font-weight: bold;
}

.lingwo-fields-noname,
.lingwo-fields-addvalue {
    font-weight: normal;
    color: blue;
}

/* Only do it when we have JS, because without that, the "prefix item" isn't
   inserted. */
html.js .lingwo-fields-value {
    margin-left: 20px;
}

#edit-lingwo-fields .form-item label {
  font-size: 100%;
}

/*
 * This is the node that gets put in front of the control by JavaScript.
 * When we have a definition, thats the automatic checkbox, without a
 * definition, its the remove button.
 */
.lingwo-fields-control-prefix-item {
    display: block;
    float:   left;
    width:   15px;
    margin:  5px 5px 0 0;
}

.lingwo-fields-remove-button {
  padding: 0;
  height: 14px;
  background:transparent url(remove.png) no-repeat 0 0;
  border-bottom: #C2C9CE 1px solid;
  border-right: #C2C9CE 1px solid;
}
.lingwo-fields-remove-button:hover {
  background-position: 0 -14px;
}

